.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.mainHeader:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.mainBanner {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px;
}
@media (max-width: 1600px) {
  .mainBanner {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .mainBanner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainBanner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 440px;
  max-width: 100%;
  background: url("/plasmic/tequila_express/images/img1Jpg3.jpg") top 0% left 50% / cover repeat;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 80px;
}
.banner > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.banner > :global(.__wab_flex-container) > *,
.banner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.banner > :global(.__wab_flex-container) > picture > img,
.banner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .banner {
    background: url("/plasmic/tequila_express/images/img1Jpg3.jpg") left 20% top 0% / cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner {
    padding-left: 40px;
    padding-right: 40px;
    background: url("/plasmic/tequila_express/images/img1Jpg3.jpg") top 0% left 30% / cover repeat;
  }
}
.text___0MGra {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.description {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 80px 130px 100px;
}
.description > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
}
.description > :global(.__wab_flex-container) > *,
.description > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.description > :global(.__wab_flex-container) > picture > img,
.description
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
}
@media (max-width: 1600px) {
  .description {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .description {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .description > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 1200px) {
  .description > :global(.__wab_flex-container) > *,
  .description > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .description > :global(.__wab_flex-container) > picture > img,
  .description
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .description {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}
.freeBox__nJAgA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jyD2E {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jyD2E {
    font-size: 26px;
  }
}
.text__uesNl {
  font-size: 16px;
  font-weight: 600;
  color: var(--token-vT3yaKDH_h4c);
  padding-bottom: 0px;
  margin-top: 25px;
  font-style: italic;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uesNl {
    font-size: 16px;
  }
}
.text__noqZy {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  padding-bottom: 0px;
  margin-top: 15px;
  font-style: italic;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__noqZy {
    font-size: 16px;
  }
}
.button2__htEo1:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 25px;
}
.freeBox__tO2FH {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__tO2FH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__tO2FH > :global(.__wab_flex-container) > *,
.freeBox__tO2FH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tO2FH > :global(.__wab_flex-container) > picture > img,
.freeBox__tO2FH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___0U3HY {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img___0U3HY > picture > img {
  object-fit: cover;
}
.freeBox__zclbr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zclbr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zclbr > :global(.__wab_flex-container) > *,
.freeBox__zclbr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zclbr > :global(.__wab_flex-container) > picture > img,
.freeBox__zclbr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___8UEOa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  min-width: 0;
}
.text___8JEla {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #505859;
  line-height: 2;
  min-width: 0;
}
.divider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px 75px;
}
.divider > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
}
.divider > :global(.__wab_flex-container) > *,
.divider > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divider > :global(.__wab_flex-container) > picture > img,
.divider
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
}
@media (max-width: 1600px) {
  .divider {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .divider {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .divider {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.freeBox__sbmwB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.meta {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px 100px;
}
.meta > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
}
.meta > :global(.__wab_flex-container) > *,
.meta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.meta > :global(.__wab_flex-container) > picture > img,
.meta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 100px;
}
@media (max-width: 1600px) {
  .meta {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .meta {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .meta > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 1200px) {
  .meta > :global(.__wab_flex-container) > *,
  .meta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .meta > :global(.__wab_flex-container) > picture > img,
  .meta
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .meta {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}
.anchor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .anchor:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .anchor:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__pN69 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pK7Kn {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pK7Kn {
    font-size: 26px;
  }
}
.freeBox__zzcgb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-QI2jHrpLRZs5);
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
}
.freeBox__zzcgb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__zzcgb > :global(.__wab_flex-container) > *,
.freeBox__zzcgb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zzcgb > :global(.__wab_flex-container) > picture > img,
.freeBox__zzcgb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzcgb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzcgb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzcgb > :global(.__wab_flex-container) > *,
  .freeBox__zzcgb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zzcgb > :global(.__wab_flex-container) > picture > img,
  .freeBox__zzcgb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__xafW8 {
  object-fit: cover;
  max-width: 100%;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__xafW8 > picture > img {
  object-fit: cover;
}
.freeBox__acOlW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__acOlW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__acOlW > :global(.__wab_flex-container) > *,
.freeBox__acOlW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acOlW > :global(.__wab_flex-container) > picture > img,
.freeBox__acOlW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__kfC7G {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.text__h18GL {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
.freeBox__hdLoz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__g2Jw {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g2Jw {
    font-size: 26px;
  }
}
.freeBox__avYjZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__thhzv {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__thhzv {
    font-size: 16px;
  }
}
.text__e4S {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e4S {
    font-size: 16px;
  }
}
.freeBox__d55F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__jZuu3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jZuu3 {
    font-size: 26px;
  }
}
.freeBox__yXipv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.ejecutivo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xiY0X {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 30px;
  min-width: 0;
}
.text__ela6A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: var(--token-QI2jHrpLRZs5);
  min-width: 0;
}
.text___68Kz1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 30px;
  min-width: 0;
}
.freeBox__w4Muq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 60px;
  margin-top: 30px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__w4Muq {
    grid-column-gap: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w4Muq {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 30px;
  }
}
.freeBox__nNvnd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yodxE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__r8Epw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul__osQv5 {
  display: flex;
  flex-direction: column;
}
.ul__e0Exn {
  display: flex;
  flex-direction: column;
}
.ul__kpd9H {
  display: flex;
  flex-direction: column;
}
.freeBox__wtMmm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e9XU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__kPll2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul__jiFxq {
  display: flex;
  flex-direction: column;
}
.freeBox__aoTwD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__dw6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__ehtFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul__wcCgB {
  display: flex;
  flex-direction: column;
}
.freeBox__kL8Hg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
  margin: 30px 0px 0px;
  border: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__kL8Hg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__kL8Hg > :global(.__wab_flex-container) > *,
.freeBox__kL8Hg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kL8Hg > :global(.__wab_flex-container) > picture > img,
.freeBox__kL8Hg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__lOk5C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
  min-width: 0;
}
.freeBox___3EtD {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3EtD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 75px);
  width: calc(100% + 75px);
}
.freeBox___3EtD > :global(.__wab_flex-container) > *,
.freeBox___3EtD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3EtD > :global(.__wab_flex-container) > picture > img,
.freeBox___3EtD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 75px;
}
@media (max-width: 1200px) {
  .freeBox___3EtD {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox___3EtD > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 1200px) {
  .freeBox___3EtD > :global(.__wab_flex-container) > *,
  .freeBox___3EtD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3EtD > :global(.__wab_flex-container) > picture > img,
  .freeBox___3EtD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img__xqOpN {
  object-fit: cover;
  max-width: 100%;
  width: 40%;
  height: 100%;
  min-width: 40%;
  min-height: 0;
  border-radius: 20px;
}
.img__xqOpN > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__xqOpN {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
  }
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 1600px) {
  .title2 {
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1600px) {
  .title2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__oq2Ex {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text___7XsHt {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-top: calc(6px + 0px) !important;
}
@media (max-width: 1600px) {
  .text___7XsHt {
    margin-top: calc(6px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7XsHt {
    font-size: 30px;
    margin-top: calc(6px + 0px) !important;
  }
}
.text__rcd9U {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: calc(20px + 0px) !important;
}
@media (max-width: 1600px) {
  .text__rcd9U {
    margin-top: calc(20px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rcd9U {
    margin-top: calc(20px + 0px) !important;
  }
}
.ul__ph1Fh {
  display: flex;
  flex-direction: column;
}
.ul__mfTSd {
  display: flex;
  flex-direction: column;
}
.ul__x2IwR {
  display: flex;
  flex-direction: column;
}
.ul__eyBhF {
  display: flex;
  flex-direction: column;
}
.li__cmdqC {
  margin-left: 20px;
  margin-right: 20px;
}
.li__hOn8J {
  margin-left: 20px;
}
.li__ihjRr {
  margin-left: 20px;
}
.li__idl6J {
  margin-left: 20px;
}
.li__erKr {
  margin-left: 20px;
}
.ul__h06J5 {
  display: flex;
  flex-direction: column;
}
.ul__z7Eni {
  display: flex;
  flex-direction: column;
}
.ul___4J9QA {
  display: flex;
  flex-direction: column;
}
.ul__hbCmm {
  display: flex;
  flex-direction: column;
}
.text__bNy6F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 0px) !important;
  color: var(--token-iInYpm5FuiZ3);
  font-size: 12px;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}
.bar {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
}
.freeBox___06UX7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 30px;
  min-width: 0;
}
.text__ugzp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  color: var(--token-QI2jHrpLRZs5);
  min-width: 0;
}
.text___9ZPBm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-QI2jHrpLRZs5);
  min-width: 0;
}
.text___5OgS4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 30px;
  min-width: 0;
}
.freeBox__kjlCh {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 60px;
  margin-top: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kjlCh {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 30px;
  }
}
.freeBox__aEqiR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__b2Mmt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__uuG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul___6Bpfc {
  display: flex;
  flex-direction: column;
}
.freeBox__xvCsp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7Ghqu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__pVi9O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul__dcte {
  display: flex;
  flex-direction: column;
}
.freeBox__zng9B {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__lNfeb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  margin-bottom: 10px;
  min-width: 0;
}
.text__kGhnG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  min-width: 0;
}
.ul__vToI {
  display: flex;
  flex-direction: column;
}
.freeBox__nQeS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
  margin: 30px 0px 0px;
  border: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__nQeS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__nQeS > :global(.__wab_flex-container) > *,
.freeBox__nQeS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nQeS > :global(.__wab_flex-container) > picture > img,
.freeBox__nQeS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__u2Nij {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
  min-width: 0;
}
.freeBox__yFpoe {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yFpoe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 75px);
  width: calc(100% + 75px);
}
.freeBox__yFpoe > :global(.__wab_flex-container) > *,
.freeBox__yFpoe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yFpoe > :global(.__wab_flex-container) > picture > img,
.freeBox__yFpoe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 75px;
}
@media (max-width: 1200px) {
  .freeBox__yFpoe {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__yFpoe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 1200px) {
  .freeBox__yFpoe > :global(.__wab_flex-container) > *,
  .freeBox__yFpoe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yFpoe > :global(.__wab_flex-container) > picture > img,
  .freeBox__yFpoe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img___70Q9Y {
  object-fit: cover;
  max-width: 100%;
  width: 40%;
  height: 100%;
  min-width: 40%;
  min-height: 0;
  border-radius: 20px;
}
.img___70Q9Y > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___70Q9Y {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
  }
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 1600px) {
  .title3 {
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1600px) {
  .title3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___6Q30C {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text__kynyD {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-top: calc(6px + 0px) !important;
}
@media (max-width: 1600px) {
  .text__kynyD {
    margin-top: calc(6px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kynyD {
    font-size: 30px;
    margin-top: calc(6px + 0px) !important;
  }
}
.text__jj1Ip {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  margin-top: calc(6px + 0px) !important;
}
@media (max-width: 1600px) {
  .text__jj1Ip {
    margin-top: calc(6px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jj1Ip {
    font-size: 30px;
    margin-top: calc(6px + 0px) !important;
  }
}
.text___3CScy {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: calc(20px + 0px) !important;
}
@media (max-width: 1600px) {
  .text___3CScy {
    margin-top: calc(20px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3CScy {
    margin-top: calc(20px + 0px) !important;
  }
}
.ul__pyTpT {
  display: flex;
  flex-direction: column;
}
.ul__rq5Xm {
  display: flex;
  flex-direction: column;
}
.ul___5Aoi {
  display: flex;
  flex-direction: column;
}
.ul___7D7Bc {
  display: flex;
  flex-direction: column;
}
.li__r5GVb {
  margin-left: 20px;
  margin-right: 20px;
}
.li__ymEn {
  margin-left: 20px;
}
.li__wYj7D {
  margin-left: 20px;
}
.li__z8GSj {
  margin-left: 20px;
}
.li__yn2Gm {
  margin-left: 20px;
}
.ul__iZpIs {
  display: flex;
  flex-direction: column;
}
.ul__ze2Ma {
  display: flex;
  flex-direction: column;
}
.ul__qyEQ {
  display: flex;
  flex-direction: column;
}
.ul__dChJ {
  display: flex;
  flex-direction: column;
}
.text__ao8V2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 0px) !important;
  color: var(--token-iInYpm5FuiZ3);
  font-size: 12px;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}
.freeBox__z5Vkv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__e48Ua {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e48Ua {
    font-size: 26px;
  }
}
.freeBox__hYw0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__iFy8N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__iFy8N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.freeBox__iFy8N > :global(.__wab_flex-container) > *,
.freeBox__iFy8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iFy8N > :global(.__wab_flex-container) > picture > img,
.freeBox__iFy8N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (max-width: 1200px) {
  .freeBox__iFy8N {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__iFy8N > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (max-width: 1200px) {
  .freeBox__iFy8N > :global(.__wab_flex-container) > *,
  .freeBox__iFy8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iFy8N > :global(.__wab_flex-container) > picture > img,
  .freeBox__iFy8N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iFy8N > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iFy8N > :global(.__wab_flex-container) > *,
  .freeBox__iFy8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iFy8N > :global(.__wab_flex-container) > picture > img,
  .freeBox__iFy8N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img__hwAy7 {
  object-fit: cover;
  max-width: 100%;
  height: 300px;
  width: 40%;
  border-radius: 20px;
}
.img__hwAy7 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__hwAy7 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hwAy7 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__cw9SQ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yot5Z {
  font-size: 18px;
  font-weight: 500;
  color: var(--token-iDr9UfHUA5XI);
}
.text__h3EO {
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
}
.text__n84ZA {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-iDr9UfHUA5XI);
  margin-top: 4px;
  line-height: 2;
  padding-top: 0px;
}
.freeBox__v21RY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text___3M9C {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3M9C {
    font-size: 26px;
  }
}
.freeBox__apr8V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__e6IJr {
  width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
.ul__vHhb3 {
  display: flex;
  flex-direction: column;
}
.freeBox__op3T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 50px;
  min-width: 0;
}
.text__wkKV {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wkKV {
    font-size: 26px;
  }
}
.freeBox___5HkS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__sFtAs {
  width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
.ul__rdfGg {
  display: flex;
  flex-direction: column;
}
.freeBox__tC2Rt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__xpZxz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iInYpm5FuiZ3);
  min-width: 0;
  border-radius: 20px;
  padding: 30px 40px;
}
.freeBox__xpZxz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 76px);
  width: calc(100% + 76px);
}
.freeBox__xpZxz > :global(.__wab_flex-container) > *,
.freeBox__xpZxz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpZxz > :global(.__wab_flex-container) > picture > img,
.freeBox__xpZxz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 76px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpZxz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpZxz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpZxz > :global(.__wab_flex-container) > *,
  .freeBox__xpZxz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xpZxz > :global(.__wab_flex-container) > picture > img,
  .freeBox__xpZxz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
.freeBox__mz93Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jph3A {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.text__brDz3 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 2;
}
.button2__lmWa4:global(.__wab_instance) {
  max-width: 100%;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
.itineraryModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__khOvw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qxw0N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-QI2jHrpLRZs5);
  min-width: 0;
}
.text__gq9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
  min-width: 0;
}
.freeBox__wlVal {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
}
.freeBox__wlVal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__wlVal > :global(.__wab_flex-container) > *,
.freeBox__wlVal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wlVal > :global(.__wab_flex-container) > picture > img,
.freeBox__wlVal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlVal {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlVal > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlVal > :global(.__wab_flex-container) > *,
  .freeBox__wlVal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wlVal > :global(.__wab_flex-container) > picture > img,
  .freeBox__wlVal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.text___9RbRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  min-width: 0;
}
.sliderCarousel:global(.__wab_instance) {
  width: 300px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 300px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.freeBox__x3AtC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 400px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("/plasmic/tequila_express/images/rectangle124Jpg.jpg") 0% 0% / cover no-repeat;
  min-width: 300px;
  border-radius: 20px;
}
.text__w4Q7X {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  left: 0px;
  top: auto;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 20px;
  min-width: 0;
}
.freeBox__vsg6B {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 400px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("/plasmic/tequila_express/images/rectangle125Jpg.jpg") 0% 0% / cover no-repeat;
  min-width: 300px;
  border-radius: 20px;
}
.text__kLOr {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  left: 0px;
  top: auto;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 20px;
  min-width: 0;
}
.freeBox__if0Np {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 400px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("/plasmic/tequila_express/images/rectangle125Jpg2.jpg") 0% 0% / cover no-repeat;
  min-width: 300px;
  border-radius: 20px;
}
.text__usEcL {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  left: 0px;
  top: auto;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 20px;
  min-width: 0;
}
.freeBox___2Ox7Z {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 400px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("/plasmic/tequila_express/images/rectangle125Jpg3.jpg") 0% 0% / cover no-repeat;
  min-width: 300px;
  border-radius: 20px;
}
.text__h9X {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  left: 0px;
  top: auto;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 20px;
  min-width: 0;
}
.freeBox__y2Wt6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 400px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("/plasmic/tequila_express/images/rectangle125Jpg4.jpg") 0% 0% / cover no-repeat;
  min-width: 300px;
  border-radius: 20px;
}
.text___01Xh1 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  left: 0px;
  top: auto;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 20px;
  min-width: 0;
}
.svg__uWgYj {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.bookingModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img___8NfRi {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img___8NfRi > picture > img {
  object-fit: cover;
}
.svg__yRfM {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
