.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.mainHeader:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.mainBanner {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px;
}
@media (max-width: 1600px) {
  .mainBanner {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .mainBanner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainBanner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 440px;
  max-width: 100%;
  background: url("/plasmic/tequila_express/images/img1Jpg.jpg") top 0% left 50% / cover repeat;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 80px;
}
.banner > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.banner > :global(.__wab_flex-container) > *,
.banner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.banner > :global(.__wab_flex-container) > picture > img,
.banner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.description {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 80px 130px 100px;
}
.description > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
}
.description > :global(.__wab_flex-container) > *,
.description > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.description > :global(.__wab_flex-container) > picture > img,
.description
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
}
@media (max-width: 1600px) {
  .description {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .description {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .description > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 1200px) {
  .description > :global(.__wab_flex-container) > *,
  .description > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .description > :global(.__wab_flex-container) > picture > img,
  .description
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .description {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}
.freeBox__ez0C5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__hqfN2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hqfN2 {
    font-size: 26px;
  }
}
.text__xcKI {
  font-size: 16px;
  font-weight: 600;
  color: var(--token-vT3yaKDH_h4c);
  padding-bottom: 0px;
  margin-top: 25px;
  font-style: italic;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xcKI {
    font-size: 16px;
  }
}
.text___8ER6J {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  padding-bottom: 0px;
  margin-top: 15px;
  font-style: italic;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8ER6J {
    font-size: 16px;
  }
}
.text__vXo6 {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  padding-bottom: 0px;
  margin-top: 15px;
  font-style: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vXo6 {
    font-size: 16px;
  }
}
.button2__yjea5:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 25px;
}
.freeBox__gd9Kz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__gd9Kz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__gd9Kz > :global(.__wab_flex-container) > *,
.freeBox__gd9Kz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gd9Kz > :global(.__wab_flex-container) > picture > img,
.freeBox__gd9Kz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__zc7I {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__zc7I > picture > img {
  object-fit: cover;
}
.freeBox__uAuM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uAuM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uAuM > :global(.__wab_flex-container) > *,
.freeBox__uAuM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAuM > :global(.__wab_flex-container) > picture > img,
.freeBox__uAuM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__szx9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  min-width: 0;
}
.divider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px 75px;
}
.divider > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
}
.divider > :global(.__wab_flex-container) > *,
.divider > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.divider > :global(.__wab_flex-container) > picture > img,
.divider
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
}
@media (max-width: 1600px) {
  .divider {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .divider {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .divider {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.freeBox__q2Kwh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.meta {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 130px 100px;
}
.meta > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
}
.meta > :global(.__wab_flex-container) > *,
.meta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.meta > :global(.__wab_flex-container) > picture > img,
.meta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 100px;
}
@media (max-width: 1600px) {
  .meta {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .meta {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .meta > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 1200px) {
  .meta > :global(.__wab_flex-container) > *,
  .meta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .meta > :global(.__wab_flex-container) > picture > img,
  .meta
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .meta {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}
.anchor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .anchor:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .anchor:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__lsItH {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ab7Z {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ab7Z {
    font-size: 26px;
  }
}
.freeBox__sfCYs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-QI2jHrpLRZs5);
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 0;
  border-radius: 20px;
  padding: 30px;
}
.freeBox__sfCYs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__sfCYs > :global(.__wab_flex-container) > *,
.freeBox__sfCYs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sfCYs > :global(.__wab_flex-container) > picture > img,
.freeBox__sfCYs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sfCYs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sfCYs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sfCYs > :global(.__wab_flex-container) > *,
  .freeBox__sfCYs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sfCYs > :global(.__wab_flex-container) > picture > img,
  .freeBox__sfCYs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__e2BC {
  object-fit: cover;
  max-width: 100%;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__e2BC > picture > img {
  object-fit: cover;
}
.freeBox__caCfn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__caCfn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__caCfn > :global(.__wab_flex-container) > *,
.freeBox__caCfn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__caCfn > :global(.__wab_flex-container) > picture > img,
.freeBox__caCfn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__plH2N {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.text__gBx6 {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
.freeBox__gzqgm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text___3Utt {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3Utt {
    font-size: 26px;
  }
}
.freeBox__d9HEm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__hb7W {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hb7W {
    font-size: 16px;
  }
}
.text___6XUi8 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6XUi8 {
    font-size: 16px;
  }
}
.freeBox__sqt0E {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.text__qxSxE {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qxSxE {
    font-size: 16px;
  }
}
.text__ms4Hc {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 0px;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ms4Hc {
    font-size: 16px;
  }
}
.freeBox___08AqD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.text__y23Q3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y23Q3 {
    font-size: 16px;
  }
}
.text__mhCXo {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 0px;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mhCXo {
    font-size: 16px;
  }
}
.freeBox___2IJpl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.text__ig8Qx {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ig8Qx {
    font-size: 16px;
  }
}
.text__oaF {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 0px;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oaF {
    font-size: 16px;
  }
}
.freeBox__zGz12 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__z7ZrM {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z7ZrM {
    font-size: 26px;
  }
}
.freeBox__raxqu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.accordion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
}
@media (max-width: 1600px) {
  .accordion:global(.__wab_instance) {
    flex-shrink: 1;
  }
}
.accordionItem__qPbqr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mPM1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  min-width: 0;
}
.freeBox__x5Oi2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__x5Oi2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 75px);
  width: calc(100% + 75px);
}
.freeBox__x5Oi2 > :global(.__wab_flex-container) > *,
.freeBox__x5Oi2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x5Oi2 > :global(.__wab_flex-container) > picture > img,
.freeBox__x5Oi2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 75px;
}
@media (max-width: 1200px) {
  .freeBox__x5Oi2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__x5Oi2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 1200px) {
  .freeBox__x5Oi2 > :global(.__wab_flex-container) > *,
  .freeBox__x5Oi2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x5Oi2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__x5Oi2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img__wdUw {
  object-fit: cover;
  max-width: 100%;
  width: 40%;
  height: 100%;
  min-width: 40%;
  min-height: 0;
  border-radius: 20px;
}
.img__wdUw > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__wdUw {
    width: 100%;
    height: 350px;
    flex-shrink: 0;
  }
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 1600px) {
  .title2 {
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1600px) {
  .title2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___8LCyI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 1600px) {
  .freeBox___8LCyI {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__wnDY {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__fvFm1 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text__v7Qh {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v7Qh {
    font-size: 20px;
  }
}
.freeBox__h1Ota {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-2fvYtVaf3yQu);
  min-width: 0;
  flex-shrink: 0;
  margin: 10px 0px;
}
@media (max-width: 1600px) {
  .freeBox__h1Ota {
    width: 100%;
    height: 2px;
    min-width: 0;
    flex-shrink: 0;
    margin: 10px 0px;
  }
}
.freeBox__zXhMj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__pqZaE {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text__bziq {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bziq {
    font-size: 20px;
  }
}
.text___4KuLs {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: calc(20px + 0px) !important;
}
@media (max-width: 1600px) {
  .text___4KuLs {
    margin-top: calc(20px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4KuLs {
    margin-top: calc(20px + 0px) !important;
  }
}
.ul__mqYbk {
  display: flex;
  flex-direction: column;
}
.ul__qysMa {
  display: flex;
  flex-direction: column;
}
.ul___4Ueub {
  display: flex;
  flex-direction: column;
}
.ul__l35Hp {
  display: flex;
  flex-direction: column;
}
.accordionItem__yfsm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gYuXs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  min-width: 0;
}
.freeBox__thVr {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__thVr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 75px);
  width: calc(100% + 75px);
}
.freeBox__thVr > :global(.__wab_flex-container) > *,
.freeBox__thVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__thVr > :global(.__wab_flex-container) > picture > img,
.freeBox__thVr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 75px;
}
@media (max-width: 1200px) {
  .freeBox__thVr {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__thVr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (max-width: 1200px) {
  .freeBox__thVr > :global(.__wab_flex-container) > *,
  .freeBox__thVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__thVr > :global(.__wab_flex-container) > picture > img,
  .freeBox__thVr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img___5PqrW {
  object-fit: cover;
  max-width: 100%;
  width: 40%;
  height: 100%;
  min-width: 40%;
  min-height: 0;
  border-radius: 20px;
}
.img___5PqrW > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___5PqrW {
    width: 100%;
    height: 350px;
    flex-shrink: 0;
  }
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 1600px) {
  .title3 {
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1600px) {
  .title3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ikWic {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 1600px) {
  .freeBox__ikWic {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__uA1SK {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__vtd8E {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text__nAfDs {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nAfDs {
    font-size: 20px;
  }
}
.freeBox__e5ITd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-2fvYtVaf3yQu);
  min-width: 0;
  flex-shrink: 0;
  margin: 10px 0px;
}
@media (max-width: 1600px) {
  .freeBox__e5ITd {
    width: 100%;
    height: 2px;
    min-width: 0;
    flex-shrink: 0;
    margin: 10px 0px;
  }
}
.freeBox__nyNg0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__ipXeJ {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.text___3QWot {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3QWot {
    font-size: 20px;
  }
}
.text__msFlz {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: calc(20px + 0px) !important;
  padding-top: 0px;
}
@media (max-width: 1600px) {
  .text__msFlz {
    margin-top: calc(20px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__msFlz {
    margin-top: calc(20px + 0px) !important;
  }
}
.ul__c7HPx {
  display: flex;
  flex-direction: column;
}
.ul__cscht {
  display: flex;
  flex-direction: column;
}
.ul__qc13C {
  display: flex;
  flex-direction: column;
}
.ul__bDlR {
  display: flex;
  flex-direction: column;
}
.ul__nDAnc {
  display: flex;
  flex-direction: column;
}
.ul__kUjhX {
  display: flex;
  flex-direction: column;
}
.freeBox__c1Qx5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__pjGhy {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pjGhy {
    font-size: 26px;
  }
}
.freeBox__mkLoK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.freeBox__yDgP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__yDgP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.freeBox__yDgP > :global(.__wab_flex-container) > *,
.freeBox__yDgP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDgP > :global(.__wab_flex-container) > picture > img,
.freeBox__yDgP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (max-width: 1200px) {
  .freeBox__yDgP {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__yDgP > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (max-width: 1200px) {
  .freeBox__yDgP > :global(.__wab_flex-container) > *,
  .freeBox__yDgP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yDgP > :global(.__wab_flex-container) > picture > img,
  .freeBox__yDgP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDgP > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yDgP > :global(.__wab_flex-container) > *,
  .freeBox__yDgP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yDgP > :global(.__wab_flex-container) > picture > img,
  .freeBox__yDgP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.img___6ByAb {
  object-fit: cover;
  max-width: 100%;
  height: 300px;
  width: 40%;
  border-radius: 20px;
}
.img___6ByAb > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___6ByAb {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6ByAb {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ma5KQ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__a2KZ1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--token-iDr9UfHUA5XI);
}
.text__y9JFb {
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
}
.text__uw6Cp {
  font-size: 12px;
  font-weight: 500;
  color: var(--token-vT3yaKDH_h4c);
  margin-top: 20px;
}
.text__muMoY {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-iDr9UfHUA5XI);
  margin-top: 4px;
  line-height: 2;
}
.freeBox__dNogd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 75px;
  min-width: 0;
}
.text__y0Mn {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y0Mn {
    font-size: 26px;
  }
}
.freeBox__yVM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__voni5 {
  width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
.ul__oHkqD {
  display: flex;
  flex-direction: column;
}
.ul__m159I {
  display: flex;
  flex-direction: column;
}
.ul__hAwT5 {
  display: flex;
  flex-direction: column;
}
.ul__hcU9C {
  display: flex;
  flex-direction: column;
}
.ul__cclDp {
  display: flex;
  flex-direction: column;
}
.ul__gBshz {
  display: flex;
  flex-direction: column;
}
.ul__prtRa {
  display: flex;
  flex-direction: column;
}
.freeBox__l6O1C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 50px;
  min-width: 0;
}
.text__ev9M5 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-iDr9UfHUA5XI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ev9M5 {
    font-size: 26px;
  }
}
.freeBox__vyno {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 10px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-top: 1px solid var(--token-2fvYtVaf3yQu);
}
.text__fwMtw {
  width: 100%;
  color: var(--token-vT3yaKDH_h4c);
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
.ul__l4Nx {
  display: flex;
  flex-direction: column;
}
.freeBox__eqHdB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__bQ8Iu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iInYpm5FuiZ3);
  min-width: 0;
  border-radius: 20px;
  padding: 30px 40px;
}
.freeBox__bQ8Iu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 76px);
  width: calc(100% + 76px);
}
.freeBox__bQ8Iu > :global(.__wab_flex-container) > *,
.freeBox__bQ8Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bQ8Iu > :global(.__wab_flex-container) > picture > img,
.freeBox__bQ8Iu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 76px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQ8Iu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQ8Iu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQ8Iu > :global(.__wab_flex-container) > *,
  .freeBox__bQ8Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bQ8Iu > :global(.__wab_flex-container) > picture > img,
  .freeBox__bQ8Iu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
.freeBox__vgcRe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mwDF {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.text__m1NKx {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 2;
}
.button2___4We5K:global(.__wab_instance) {
  max-width: 100%;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
.bookingModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ibeXg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ibeXg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__ibeXg > :global(.__wab_flex-container) > *,
.freeBox__ibeXg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibeXg > :global(.__wab_flex-container) > picture > img,
.freeBox__ibeXg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text___2S0Vx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-iInYpm5FuiZ3);
  font-size: 32px;
  font-weight: 700;
  min-width: 0;
}
.text__dojeW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-QI2jHrpLRZs5);
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
