.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #ffffff;
  min-width: 0;
  padding: 20px 130px;
}
@media (max-width: 1600px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 183px;
  cursor: pointer;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 60px;
}
@media (max-width: 1200px) {
  .menu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menuLink__uG8Ho:global(.__wab_instance) {
  position: relative;
}
.menuLink__lhhH2:global(.__wab_instance) {
  position: relative;
}
.menuLink__dS26B:global(.__wab_instance) {
  position: relative;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dropdown__dropdownMenu:global(.ant-dropdown-menu)
  :global(.ant-dropdown-menu-item) {
  font-size: 14px;
  font-weight: 600;
  color: var(--token-iDr9UfHUA5XI);
  outline: none;
}
.menuItem__x3TcE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lQnYr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__udV4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__saVT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nLMdt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.freeBox__nLMdt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nLMdt > :global(.__wab_flex-container) > *,
.freeBox__nLMdt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nLMdt > :global(.__wab_flex-container) > picture > img,
.freeBox__nLMdt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.menuLink__zV35:global(.__wab_instance) {
  position: relative;
}
.svg__fgV9I {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-iDr9UfHUA5XI);
  height: 1em;
}
.menuLink___7UJ5:global(.__wab_instance) {
  position: relative;
}
.menu2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu2:global(.__wab_instance):global(.__wab_instance) {
    display: flex;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 30px;
  width: 40px;
  padding: 0px;
  margin: 0px;
}
.freeBox__tH8Vu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 38px;
  max-width: 100%;
  margin-bottom: 0px;
  height: 28px;
}
.svg__qIxW {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qO9M {
    display: none;
  }
}
.freeBox__cfUb8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cfUb8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__cfUb8 > :global(.__wab_flex-container) > *,
.freeBox__cfUb8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cfUb8 > :global(.__wab_flex-container) > picture > img,
.freeBox__cfUb8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.text__q8Tcg {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  cursor: pointer;
}
.text__hyXx3 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  cursor: pointer;
}
.text__hGjb9 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  cursor: pointer;
}
.text__ilkO1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-vT3yaKDH_h4c);
  font-weight: 600;
  margin-top: calc(10px + 14px) !important;
  margin-bottom: -6px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ilkO1 {
    margin-top: calc(10px + 14px) !important;
  }
}
.text__tgu2O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  cursor: pointer;
  min-width: 0;
}
.text__dcqwk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  cursor: pointer;
  min-width: 0;
}
.text__aNy4K {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-iDr9UfHUA5XI);
  font-weight: 700;
  margin-top: calc(20px + 14px) !important;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aNy4K {
    margin-top: calc(20px + 14px) !important;
  }
}
